@model Blog.Models.Blog

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string alipay;
    string wechat;
    string path;
}
@{
    var comments = ViewBag.comments;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="~/Content/Like/Css/demo.css" />
    <link href="~/Content/Reward/reward.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/Like/Js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Content/Reward/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Content/Like/Js/Like.js"></script>
    <script type="text/javascript" src="~/Content/Reward/js/reward.js"></script>
</head>
<body>

    <div class="container">
        <div>
            <div class="form-group">
                @*<a href="#" onClick="javascript:history.back(-1);">
                        <span class="glyphicon glyphicon-backward" style="font-size:large">返回</span>
                    </a>*@
                @if (Session["UserID"].ToString().Equals(Model.BloggerID))
                {
                    <a href="~/User/blogdelete?BlogID=@Model.BlogID">删除</a>
                    <a href="~/User/blogedit?BlogID=@Model.BlogID">修改</a>
                }
            </div>
        </div>
        <div class="container">
            <div class="col-lg-3">
                <ul class="list-group" id="ueserfunction">
                    <li class="list-group-item">
                        <a href="~/UserBlog/seeuserdetails?BloggerID=@ViewData["BloggerID"]">
                            @{
                                string img = ViewData["BloggerImage"].ToString();
                                if (img != "defaultUserImage.jpg")
                                {
                                    path = ViewData["BloggerID"] + "/" + img;
                                }
                                else
                                {
                                    path = "defaultUserImage.jpg";
                                }
                            }
                            <img class="img-responsive" id="head" name="head" src="~/File/Images/@path" />
                        </a>
                    </li>
                    <li class="list-group-item">用户名：@ViewData["userName"] </li>
                    <li class="list-group-item">
                        @using (Html.BeginForm("focus", "UserBlog", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <button type="submit" class="btn btn-default btn-sm">@ViewData["guanzhu"]</button>
                                <input id="Hidden1" type="hidden" name="Focused" value=@Model.BloggerID>@*这个是用户ID*@
                        }
                    </li>
                    <li class="list-group-item">
                        @using (Html.BeginForm("WriteMessage", "UserBlog", FormMethod.Get))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <button type="submit" class="btn btn-default btn-sm">写留言</button>
                                <input id="Hidden1" type="hidden" name="Receiver" value=@Model.BloggerID>@*这个是用户ID*@
                        }
                    </li>
                    <li class="list-group-item">
                        <button type="button" class="btn btn-default btn-sm">发私信</button>
                    </li>
                    <li class="list-group-item">关注人数：@ViewData["focuscount"]</li>
                    <li class="list-group-item">粉丝数:@ViewData["fancount"]</li>
                    <li class="list-group-item"><a href="~/User/Message?UserID=@Model.BloggerID">留言内容</a></li>
                </ul>

            </div>

            <div class="col-md-8">
                <form role="form">
                    <div class="form-group">
                        <div style="font-size:larger"><h3>@Model.BlogTitle</h3></div>
                    </div>
                </form>
                <br />
                <form role="form">
                    <div class="form-group">
                        <div>@Html.Raw(Model.BlogContent)</div>
                    </div>
                    <div>
                        <a href="~/UserBlog/comment?BlogID=@Model.BlogID&ReplyID=@Model.BloggerID">评论</a>

                    </div>
                </form>
                <br />
                @using (Html.BeginForm("like", "UserBlog", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <input id="Hidden1" name="LikeBlogID" value=@Model.BlogID type="hidden">
                    <button type="submit" class="btn btn-default btn-sm" style="background: @ViewData["background"]">
                        <span class="glyphicon glyphicon-thumbs-up"></span> @ViewData["likescount"]
                    </button>

                }

                <div class="content">
                    <p><a href="javascript:void(0)" onclick="dashangToggle()" class="dashang" title="打赏，支持一下"><span>打赏</span></a></p>
                    <div class="hide_box"></div>
                    <div class="shang_box">
                        <a class="shang_close" href="javascript:void(0)" onclick="dashangToggle()" title="关闭"><img src="~/Content/Reward/img/close.jpg" alt="取消" /></a>
                        <div class="shang_tit">
                            <p>感谢您的支持，我会继续努力的!</p>
                        </div>
                        <div class="shang_payimg">
                            @{
                                Blog.DatabaseContext.BlogDbContext db = new Blog.DatabaseContext.BlogDbContext();
                                Blog.Models.UserAccount userAccountModel = db.UserAccounts.Find(ViewData["BloggerID"]);
                                alipay = userAccountModel.AlipayImage;
                                wechat = userAccountModel.WeChatImage;
                                if (alipay != null)
                                {
                                    <div class="shang_pay">
                                        <span><img src="~/File/Images/@ViewData["BloggerID"]/@alipay" alt="扫码支持" title="扫一扫" /></span>
                                    </div>
                                }
                                if (wechat != null)
                                {
                                    <div class="shang_pay">
                                        <span><img src="~/File/Images/@ViewData["BloggerID"]/@wechat" alt="扫码支持" title="扫一扫" /></span>
                                    </div>
                                }
                            }
                        </div>

                        <div class="pay_explain">扫码打赏，你说多少就多少</div>

                        <div class="shang_payselect">
                            <div class="pay_item" data-id="alipay">
                                <span class="pay_logo"><img src="~/Content/Reward/img/alipay.jpg" alt="支付宝" /></span>
                            </div>
                            <div class="pay_item" data-id="weipay">
                                <span class="pay_logo"><img src="~/Content/Reward/img/wechat.jpg" alt="微信" /></span>
                            </div>
                        </div>
                        <div class="shang_info">
                            <p>打开<span id="shang_pay_txt">支付宝/微信</span>扫一扫，即可进行扫码打赏哦</p>
                        </div>
                    </div>
                </div>


                <div>
                    <label for="name">所有评论：</label>
                    <!-- 显示所有评论 -->
                    @if (comments != null)
                    {
                        foreach (var c in comments)
                        {
                            <div>
                                <p><a href="~/UserBlog/seeuserdetails?BloggerID=@c.UserID ">  @c.UserID </a>回复<a href="~/UserBlog/seeuserdetails?BloggerID=@c.ReplyID "> @c.ReplyID </a>于：@c.CommentTime </p>
                                <p>: @c.CommentContent<a href="~/UserBlog/comment?BlogID=@c.BlogID &ReplyID= @c.UserID">回复</a></p>
                                @if (c.UserID == Session["UserID"].ToString() || Session["UserID"].ToString() == Model.BloggerID)
                                {
                                    using (Html.BeginForm("deletecomment", "UserBlog", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                       <input id="Submit1" type="submit" value="删除评论" >
                                        <input id="Hidden1" type="hidden" name="CommentID" value=@c.CommentID >
                                     
                                    }
                                }
                                <p>-------------------------------------------------------------------------------------------------------</p>
                            </div>

                        }
                    }
                </div>
                <br />

            </div>
        </div>
    </div>
</body>
</html>